---
// Navbar component - DEPRECATED - Use Navbar_Clean.astro instead
// This file is kept to avoid import errors but should not be used
---

<!-- This component has been replaced by Navbar_Clean.astro -->
<div style="display: none;">
  <p>This navbar component is deprecated. Use Navbar_Clean.astro instead.</p>
</div>
